@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-size: 14px;
    color: #000;
}

h1, h2, h3 {
    text-transform: uppercase;
    font-weight: 700;
}

h1 {
    font-size: 2em;
    line-height: 1em;
    margin: 0 0 0.5em 0;
}

p, li {
    font-size: 1em;
    line-height: 1.5em;
}

a, a:visited {
    color: #000;
    text-decoration: none;
}

section a::before {
    content: "\F470";
    font-family: "bootstrap-icons" !important;
    vertical-align: middle;
}

.mesh {
    opacity: 0.6;
    background-color:hsla(200,100%,50%,1);
    background-image:
    radial-gradient(at 40% 20%, hsla(183,100%,74%,1) 0px, transparent 50%),
    radial-gradient(at 80% 0%, hsla(189,100%,56%,1) 0px, transparent 50%),
    radial-gradient(at 0% 50%, hsla(181,100%,93%,1) 0px, transparent 50%),
    radial-gradient(at 80% 50%, hsla(340,100%,76%,1) 0px, transparent 50%),
    radial-gradient(at 0% 100%, hsla(158,100%,77%,1) 0px, transparent 50%),
    radial-gradient(at 80% 100%, hsla(242,100%,70%,1) 0px, transparent 50%);
}

.content nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.content nav ul li {
    display: inline-block;
    margin: 0 2em 0 0;
}

.content nav ul li::before {
    content: "\F114";
    font-family: "bootstrap-icons" !important;
    margin-right: 1ex;
    vertical-align: middle;
}

.content nav ul li a::before {
    content: none;
}

.content > nav h3 {
    font-weight: nol; 
}

/* .content > nav ol { padding-left: 1em; } */
/* .content > nav ol a:before { content: none; } */

.content ul.links a {
    color: #000;
}

.content ul.links a::before {
    content: none;
}

.content {
    position: absolute;
    top: 0%;
    box-sizing: border-box;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#particles-js {
    width: 100%;
    height: 100vh;
}

@media screen and (max-width: 599px) {
    .content {
        width: 100%;
        /* padding: 10px; */
    }

    .vcard img {
        width: 25%;
        max-width: 100px;
    }
}

@media screen and (min-width: 600px) {
    .content {
        width: 600px;
        left: 50%;
        transform: translateX(-50%);
        padding: 20px 40px;
    }

    .vcard img {
        height: 100px;
        width: 100px;
    }
}

.content b {
    font-weight: 700;
}

.vcard h1 {
    display: inline-block;
}

.vcard img {
    border-radius: 20%;
    overflow: hidden;
    margin: 0 2em 2em 0em;
    vertical-align: middle;
    float: right;
    opacity: 0.9;
}

.content section { margin-top: 2em; }
.content section.vcard { margin-top: 0; }

.social ul.links {
    list-style: none;
    clear: both;
    width: 100%;
    text-align: center;
    font-size: 1.25em;
}

.social ul.links > li {
    display: inline-block;
    margin: 0em 2em;
}

.social ul.links > li:first-child {
    margin-left: -4em;
}

.divider::before {
    content: "";
    border-top: 1pt solid #AAA;
    display: block;
    width: 20%;
    margin: auto;
    margin-bottom: 2em;
}

.paragraph {
    clear: both;
}

.paragraph p i::before {
    content: "\F5C8";
    font-family: "bootstrap-icons" !important;
    margin-right: 1ex;
    vertical-align: middle;
}

.paragraph p i {
    /*  background-color: #4169e1;
    background-image: linear-gradient(45deg, #4169e1, #af4261); */
    font-weight: bold;
    margin-right: 2em;
}

my-s tuff {
    list-style: none outside;
    padding-left: 2.; 
}

ul.my-stuff ul {
    padding-left: 1.5em;
}

ul.my-stuff > li {
    position: relative;
    margin-bottom: 1ex;
}

ul.my-stuff > li:before {
    font-family: "bootstrap-icons" !important;
    margin: 0em 1em;
    vertical-align: middle;
    float: left;
    margin-left: -12px;
    position: absolute;
    left: -1.5em;
}

#stuff > ul.my-stuff > li:nth-child(1):before { content: "\F885"; }
#stuff > ul.my-stuff > li:nth-child(2):before { content: "\F5E7"; }
#stuff > ul.my-stuff > li:nth-child(3):before { content: "\F828"; }
#stuff > ul.my-stuff > li:nth-child(4):before { content: "\F444"; }

#recent-papers > ul.my-stuff > li:before { content: "\F194"; }
